*{
	padding: 0px;
	margin: 0px;
}
.main{
	width: 100%;
	height: 100%;
}
.show{
	width: 400px;
	height: 400px;
	position: relative;
	border: 1px solid;
	display: inline-block;
}
.show img{
	width: 400px;
	height: 400px;
}
.show .box{
	width: 200px;
	height: 200px;
	background: #0aa;
	opacity: 0.5;
	position: absolute;
	top: 0px;
	left: 0px;

}
.show-small{
	width: 200px;
	height: 65px;
}
.show-small span{
	display: inline-block;
	width: 60px;
	height: 60px;
}
span img{
	width: 60px;
	height: 60px;
}
.show-big{
	height: 400px;
	width: 400px;
	border: 1px solid;
	display: inline-block;
	overflow: hidden;
	display: none;
}
.show-big img{
	position: relative;
	top: 0px;
	left: 0px;
}
